<div class="card">
	<!--
    <div class="flex flex-col md:flex-row gap-8">
        <div class="flex-auto font-semibold text-xl mb-4">
            <h3>PASCAL_CASE_SPLIT[tableName]</h3>  
        </div>
        <div class="flex-end">
            <p-button icon='pi pi-fw pi-plus'  label="Crear PASCAL_CASE_SPLIT[tableName]" (onClick)="goToPASCAL_CASE[tableName]()" severity="info" />
        </div>
    </div>
	<p-toast />
    <p-menubar [model]="nestedMenuItems">
        <ng-template #end>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Buscar [tableName]" />
            </p-iconfield>
        </ng-template>
    </p-menubar>
    <hr>
	-->
  [tableHtml]
  <div class="card flex justify-center">

    <p-dialog header="Carga de archivo" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
      <div class="flex items-center gap-4 mb-8">
        <p-toast  position="bottom-left"/>
        <p-fileupload name="myfile" [class]="'file-upload'"
        [customUpload]="true" (uploadHandler)="uploadFile($event)"
          accept=".csv" maxFileSize="1000000" 
          (onUpload)="commonComponent.onTemplatedUpload()"
          (onSelect)="commonComponent.onSelectedFiles($event)" >
          <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
            let-uploadCallback="uploadCallback">
            <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
              <div class="flex gap-2">
                <p-button (onClick)="commonComponent.choose($event, chooseCallback)" [rounded]="true"
                  [outlined]="true" >
                     <i class="pi pi-file" style="font-size: 1.5rem"  > </i>
                     
                </p-button>
                <p-button (onClick)="commonComponent.uploadEvent(uploadCallback)"  [rounded]="true"
                  [outlined]="true" severity="success" [disabled]="!files || files.length === 0"
                 >
                      <i class="pi pi-cloud-upload" style="font-size: 1.5rem" ></i>
                </p-button>
                <p-button (onClick)="commonComponent.onClearTemplatingUpload(clearCallback)" [rounded]="true" [outlined]="true"
                  severity="danger" [disabled]="!files || files.length === 0" 
                  >
                      <i class="pi pi-times" style="font-size: 1.5rem"  > </i>
                </p-button>
              </div>
              <p-progressbar [value]="commonComponent.totalSizePercent" [showValue]="false" class="w-full"
                class="md:w-20rem h-1 w-full md:ml-auto">
                <span class="whitespace-nowrap">{{ commonComponent.totalSize }}B / 1Mb</span>
              </p-progressbar>
            </div>
          </ng-template>
          <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback"
            let-removeUploadedFileCallback="removeUploadedFileCallback">
            <div class="flex flex-col gap-8 pt-4">
              <div *ngIf="files?.length > 0">
                <h5>Pending</h5>
                <div class="flex flex-wrap gap-4">
                  <div *ngFor="let file of files; let i = index" [style]="{width: '100%'}"
                    class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                    <div>
                      <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="200" height="50" />
                    </div>
                    <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name
                      }}</span>
                    <div>{{ commonComponent.formatSize(file.size) }}</div>
                    <p-badge [value]="status" severity="warn" />
                    <p-button icon="pi pi-times"
                      (click)="commonComponent.onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true"
                      [rounded]="true" severity="danger" />
                  </div>
                </div>
              </div>
              <div *ngIf="uploadedFiles?.length > 0">
                <h5>Completed</h5>
                <div class="flex flex-wrap gap-4">
                  <div *ngFor="let file of uploadedFiles; let i = index"
                    class="card m-0 px-12 flex flex-col border border-surface items-center gap-4">
                    <div>
                      <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                    </div>
                    <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name
                      }}</span>
                    <div>{{ commonComponent.formatSize(file.size) }}</div>
                    <p-badge value="Completed" class="mt-4" severity="success" />
                    <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true"
                      [rounded]="true" severity="danger" />
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #file></ng-template>
          <ng-template #empty>
            <div class="flex items-center justify-center flex-col">
              <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
              <p class="mt-6 mb-0">Drag and drop files to here to upload.</p>
            </div>
          </ng-template>
        </p-fileupload>
      </div>
      <div class="flex items-center gap-4 mb-8">
      </div>
      <div class="flex justify-end gap-2">
      </div>
    </p-dialog>
	
  </div>

</div>