/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';


input.invalid {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 0.9em;
}