
	[formHtml]
	
	
        <div class="flex flex-wrap gap-6 ">
            <div class="flex flex-col grow basis-0 gap-2 flex-end"></div>
            <div class="flex flex-col grow basis-0 gap-2 flex-end"></div>
            <div class="flex flex-col grow basis-0 gap-2 flex-wrap flex-end">
                <div class="flex-end">
                    <p-button icon='pi pi-fw pi-arrow-left' label="Regresar" severity="warn"
                         />
                    <p-button icon='pi pi-fw pi-save' label="Guardar" severity="info"
                         />
                </div>
            </div>
        </div>
